@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffe146;
  --box: #ffcf1b;
  --color: black;
}

body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
